# Rust
/target
**/*.rs.bk
*.pdb

# mac
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.pytest_cache/
tests/venv

# VitePress
node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

# Nix
result
result-*
history
